.Cockpit{

}
.red{
    color: red;
}
.bold{
    font-weight: bold;
}

.Cockpit button{
    background-color: darkGreen;
    padding: 10px;
    color: #fff;
    border: 1px solid blue;
}
.Cockpit button:hover{
    background-color: green;
    color: #000;
}
.Cockpit .Red{
    background-color: darkred;
}
.Cockpit .Red:hover{
    background-color: red;
}